{
    "books": {
        "host": "localhost",
        "port": "5432",
        "user": "postgres",
        "password": "",
        "database": "library"
    },
    "service": {
        "port": ":8081"
    }
}